export POLYGON_API_KEY=
export FINNHUB_API_KEY=

# quantconnect.com -> My Account -> Security -> "Request Email With Token"
export QUANTCONNECT_USER_ID=
export QUANTCONNECT_API_TOKEN=

export BROKER=td or alpaca or none

# if alpaca
export ALPACA_URL=
export APCA_API_KEY_ID=
export APCA_API_SECRET_KEY=

# if td
export TD_ACCOUNT_ID=
